<%- include('partials/header') -%>
<h1 class="display-4">Amazing!</h1>
<p class="lead">You've been signed up to the newsletter. Thank you!</p>
<p class="lead">Check your inbox for a welcome email.</p>
<%- include('partials/footer') -%>